
/* ==================================================
    main menu style
======================================================*/
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
nav ul li .fa{
    font-size: 10px;
    margin-left: 3px;
    top: -1px;
}

.header-nav {
    background-color: #fff;
}

/* menu */
nav.main-menu {
    background-color: #59B210;
    border-radius: 5px 5px 0px 0px;
}
.nav-border-bottom {
    width: 100%;
    height: 5px;
    background-color: #59b210;
    margin-top: -5px;
    margin-bottom: 30px;
}

.navbar-brand {
    color: #fff;
    display: none;
    text-transform: capitalize;
}
.navbar-brand:hover {
    color: #fff;
}

.main-menu .navbar-nav li a {
    color: #fff;
    font-weight: bold;
    line-height: 45px;
    padding: 3px 15px;
    font-family: 'Raleway', sans-serif;
}
.main-menu .navbar-nav li a:focus {
    background-color: transparent;
}
.main-menu .navbar-nav li a:hover,
.main-menu .navbar-nav li a.active {
    color: #3d3d3d;
    background-color: #fdd922;
}
.main-menu .navbar-nav li a.menubgactive {
    background-color: #f0f0f0;
}
.main-menu .navbar-nav li a.menubgactive:hover {
    background-color: #04b962;
}

/* navbar-toggle responsive menu */

/*crose bar red color*/
.navbar-toggle {
    border: none;
    background: transparent;
}
.navbar-toggle.collapsed .icon-bar {
    background-color: #04b962;
}
.navbar-toggle .icon-bar {
    background-color: #e91313;
}
.navbar-toggle:hover {
    background: transparent;
}
.navbar-toggle .icon-bar {
    width: 32px;
    height: 4px;
    -webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition:all 0.2s ease 0s;
}
.navbar-toggle .top-bar {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0);
}


/*---------------------------------
# sticky nav css
-------------------------------------*/
/* .oppacity-0{
    opacity: 0;
} */

.my-sticky-nav {
    background-color: #fdd922;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    transition: .3s;
}
.my-sticky-nav .main-menu{
    background-color: #fdd922;
}
.navbar-right{
    transition: .3s;
}
/* logo suppot */
.my-sticky-nav .logo {
    width: 100%;
    height: 100%;
}
.my-sticky-nav .navbar-brand {
    color: #3d3d3d;
    display: block;
    transition: .3s;
    /* padding: 0px; logo support */
}
.my-sticky-nav .main-menu .navbar-nav li a:hover,
.my-sticky-nav .main-menu .navbar-nav li a.active {
    color: #fff;
    background-color: #59B210;
}

.my-sticky-nav .main-menu .navbar-nav li a {
    color: #3d3d3d;
}


/* --------------------------------------------------------------
 sub menu / Mega menu 
 --------------------------------------------------------------*/
 .main-menu .submenu li a {
    line-height: 30px;
    border-bottom: 1px solid #E0E0E0;
    font-size: 13px;
    color: #888;
    padding: 2px 0px;
    transition: .3s;
}
.main-menu .submenu {
    padding: 20px 20px;
}
.main-menu .submenu li a:hover,
.main-menu .submenu li a.active  {
    background: none;
    padding-left: 2px;
}
.my-sticky-nav .main-menu .submenu li a:hover,
.my-sticky-nav .main-menu .submenu li a.active {
    background:none;
    color: #888;
}
.main-menu .mega-menu-item h2 {
    font-size: 14px;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    font-weight: bold;
}

.main-menu .mega-menu-item .links a {
    padding: 4px 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    font-size: 13px;
    color: #888;
    background: none;
    line-height: 25px;
    transition: .3s;
}
.main-menu .mega-menu-item .links a:hover,.main-menu .mega-menu-item .links a:active {
    background: none;
}
.my-sticky-nav .main-menu .mega-menu-item .links a:hover,
.my-sticky-nav .main-menu .mega-menu-item .links a:active {
    background: none;
    color: #888;
}

.main-menu .mega-menu-item h2:hover {
    color: #59b210;
}
.main-menu .mega-menu-item .links a:hover,.main-menu .mega-menu-item .links a:active {
    padding-left: 3px;
}
.main-menu .mega-menu{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    padding: 20px;
}
.main-menu .mega-menu {
    max-width: 965px;
    border:none;
}