/* ------------------------------------------------------- *\
   Medium Layout: 1280px
\* ------------------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* /----- Header -----/ */
	.hide-element,
	.hide-medium-view {
		display: none;
	}
	.wishlist-compare-holder.show-element {
		display: block;
	}
	h1.logo a {
		font-size: 18px;
	}
	input.search,
	select#category,
	.search-form button {
		height: 45px;
	}
	.top-cart-row .dropdown-menu {
		right: 9.4%;
	}
    

    /* /----- Main menu (dropdown) -----/ */
	.mega-menu-item.banner-image.hide-element {
		display: none;
	}
	.main-menu .mega-menu {
		max-width: 692px;
	}
    

    /* /----- Hero area side bar  -----/ */
	.sidebar-navigation {
		font-size: 14px;
	}
	.sidebar-nav a {
		padding: 10px;
	}
	.blockquot .text {
		padding: 5px 8px;
	}
	.company-information .title {
		font-size: 16px;
	}
    

    /* /----- Hero area slider -----/ */
	.product-slider .owl-item {
		height: 431px;
	}
	.product-slider .owl-dots div {
		width: 12px;
		height: 12px;
	}
	.big-text {
		font-size: 40px;
	}
    
   
   /* /----- Product area -----/ */
	.tab-ul .tab-item a {
		padding: 15px 30px;
		font-size: 15px
	}
	.tab-ul .tab-item.active a {
		padding: 15px 35px;
	}
	.main-content .product-inner,
	.category-main-content-area .product-inner,
	.recent-product-area .product-inner {
		width: 193px;
	}
	.main-content .product-img,
	.category-main-content-area .product-img {
		height: 154px;
	}
	.hover-content a {
		padding: 5px 10px;
	}
	.title-area h2,
	.review-title h2 {
		font-size: 16px;
	}
	.ribbon {
		padding: 3px 10px;
		font-size: 13px;
	}
	.ribbon:after {
		border-top-width: 26px;
	}
    

    /* /----- Recent product slider -----/ */
	.recent-product-area .section-title {
		font-size: 16px;
	}
	.recent-product-area .owl-nav i {
		font-size: 25px;
	}
	.product-item {
		padding: 10px 7px;
	}
    

    /* /----- Footer company info -----/ */
	.company-big-logo h1 {
		font-size: 30px;
	}
	button.subscribe-btn {
		padding: 10px 5px;
	}
	form.subscribe input {
		height: 44px;
	}
	.widget h3 {
		padding-bottom: 32px;
	}
    

    /* /----- Footer  -----/ */
	ul.footer-menu li a {
		padding: 0px 14px;
		font-size: 14px;
	}
	ul.footer-menu li a:after {
		top: 4px;
	}
	ul.payment-logo li {
		width: 18%;
	}
    

    /* /----- Blog details html -----/ */
	.product-tag .item {
		padding: 5px 10px;
	}
	.blog-area .inline-product-entry .title {
		font-size: 15px;
	}
	.blog-page .blog-post {
		padding: 10px;
	}
	.blog-page .blog-post h1 {
		font-size: 17px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.blog-page .blog-post p {
		padding-top: 10px;
	}
	.blog-page .blog-post .social-media {
		margin: 15px 0px;
		padding: 0px;
	}
	.blog-page .blog-post .social-media a {
		font-size: 16px;
		padding: 8px;
	}


    /* /----- Login html -----/ */
	.login-registration-area .sign-in-page .sign-in .social-sign-in a {
		padding: 10px 17px;
	}
    

    /* /----- Compare html -----/ */
	.product-compare .compare-table tr th {
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.product-compare table td {
		padding: 10px !important;
	}
    

    /* /----- Shopping-cart html -----/ */
	.shopping-cart .cart-shopping-total table thead tr th {
		padding: 28px 0px;
	}
}


/* ------------------------------------------------------- *\
   Tablet Layout: 768px
\* ------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 15px;
	}
    

    /* /----- Top bar  -----/ */
	.h-title a {
		font-size: 15px;
	}
	ul.h-right li a {
		padding: 10px 5px;
		font-size: 15px;
	}
    

    /* /----- Header  / Search bar -----/ */
	.hide-element {
		display: none;
	}
	.wishlist-compare-holder.show-element {
		display: block;
	}
	.top-cart-row .dropdown-menu {
		right: 12.7%;
		top: 19%;
	}
	header {
		padding: 10px 0px;
	}
	h1.logo a {
		font-size: 15px;
		vertical-align: middle;
	}
	input.search,
	select#category,
	.search-form button {
		height: 44px;
	}
	select#category {
		width: 35%;
		line-height: 18px;
	}
	span.arrow-down {
		top: 24%;
		right: 16%;
	}
	.search-form button {
		width: 12%;
	}
	.wishlist a,
	.compare a {
		font-size: 15px;
	}
	.total-price-basket span.lbl,
	.total-price-basket .total-price {
		font-size: 15px;
	}
	.wishlist a i,
	.compare a i {
		padding: 0px;
	}
	.total-price-basket span.lbl {
		margin-left: 10px;
	}
	.basket-item-count {
		width: 42px;
	}
	span.cart-items-count {
		width: 17px;
		height: 18px;
		line-height: 16px;
	}
    

    /* /----- Main menu (dropdown)  -----/ */
	.mega-menu-item.banner-image.hide-element {
		display: none;
	}
	.main-menu .mega-menu {
		max-width: 544px;
	}
	.mega-menu .mega-menu-item {
		width: 123px;
	}
    

    /* /----- Category -----/ */
	.hide-tablate-view {
		display: none !important;
	}
	.product-detail-view .information-blog-offer {
		width: 100%;
	}
    

    /* /----- Hero area slider -----/ */
	.product-slider .owl-item {
		height: 435px;
	}
    

    /* /----- All side bar  -----/ */
	.information-blog-offer,
	.latest-review,
	.company-information {
		width: 31.9%;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.other-info-bar {
		display: flex;
		flex-direction: row-reverse;
	}
	.information-blog-offer {
		margin-right: 0px;
	}
	.blockquot .text {
		padding: 5px 8px;
	}
	.company-information .title {
		font-size: 16px;
	}
    

    /* /----- Product area -----/ */
	.tab-ul .tab-item a {
		padding: 15px 30px;
		font-size: 15px
	}
	.tab-ul .tab-item.active a {
		padding: 15px 35px;
	}
	.main-content .product-inner,
	.category-main-content-area .product-inner {
		width: 211px;
	}
	.main-content .product-img,
	.category-main-content-area .product-img {
		height: 154px;
	}
	.hover-content a {
		padding: 5px 10px;
	}
	.title-area h2,.review-title h2 {
		font-size: 16px;
	}
	.ribbon {
		padding: 3px 10px;
		font-size: 13px;
	}
	.ribbon:after {
		border-top-width: 26px;
	}
    

    /* /----- Recent product slider  -----/ */
	.recent-product-area .product-inner {
		width: 202px;
	}
	.recent-product-area .section-title {
		font-size: 16px;
	}
	.recent-product-area .owl-nav i {
		font-size: 25px;
	}
	.product-item {
		padding: 10px 7px;
	}
	.recent-product-area .section-title:after {
		width: 75%;
		left: 20%;
	}
    

    /* /----- Footer company info -----/ */
	.link-widget {
		width: 49%;
	}
    

    /* /----- No need to change tablate view -----/ */
	.company-big-logo h1 {
		font-size: 30px;
	}
	button.subscribe-btn {
		padding: 10px 5px;
	}
	form.subscribe input {
		height: 44px;
	}
	.widget h3 {
		padding-bottom: 32px;
	}
    

    /* /----- Footer -----/ */
	ul.footer-menu li a {
		padding: 0px 14px;
		font-size: 14px;
	}
	ul.footer-menu li a:after {
		top: 4px;
	}
	ul.payment-logo li {
		width: 18%;
	}
    

    /* /----- Blog details html -----/ */
	.blog-page .blog-post {
		padding: 10px;
	}
	.blog-page .blog-post h1 {
		font-size: 17px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.blog-page .blog-post p {
		padding-top: 10px;
	}
	.blog-page .blog-post .social-media {
		margin: 15px 0px;
		padding: 0px;
	}
	.blog-page .blog-post .social-media a {
		font-size: 16px;
		padding: 8px;
	}
	.blog-page .blog-post-author-details h4 {
		font-size: 17px;
	}
	.blog-page .blog-post-author-details,
	.blog-page .comments,
	.blog-page .blog-write-comment,
	.sidebar-module-container .search-area input {
		padding: 10px;
	}
	.comment-item .comment-body {
		padding: 5px;
	}
	.blog-page .comment-item .comment-body .comment-content {
		margin: 10px 5px;
	}
	.sidebar-module-container .search-area .search-button:after {
		top: 1%;
	}
	.category-main-content-area .section-title,
	.blog-area .section-title,
	h4.widget-title {
		font-size: 17px;
	}
	.blog-area .inline-product-entry .title {
		font-size: 15px;
	}
    

    /* /----- Category html -----/ */
	.category-page-banner .banner-capton .big-text {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton {
		left: 10%;
		top: 17%;
	}
	.category-page-banner .banner-capton .excerpt {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton .excerpt-normal {
		font-size: 14px;
	}
	.category-main-content-area .lbl-cnt,
	.filters-bar .f-right,
	.category-main-content-area .lbl-cnt .fld {
		float: right;
	}
	.category-main-content-area .lbl-cnt .dropdown.dropdown-med .btn {
		padding: 3px 10px;
		margin-left: 4px;
	}
	.category-main-content-area .product-inner {
		width: 199px;
	}
	.category-main-content-area .pagination-holder {
		text-align: center;
	}
	.category-product-view {
		padding-right: 20px;
	}
    
    /* /----- Checkout html -----/ */
	.information-entry .accordeon.size-1 .accordeon-title {
		font-size: 15px;
		padding: 5px 0px;
	}
	.information-entry .article-container h3,
	.h3,
	.information-entry .article-container p,
	.information-entry .article-container ul,
	.information-entry .article-container ol,
	.information-entry .article-container img {
		font-size: 14px;
	}
	.information-entry .article-container a.btn-addtocart {
		padding: 5px 15px;
	}
	.information-entry .article-container.style-1 {
		margin-bottom: 10px;
	}
	.information-entry .accordeon.size-1 .accordeon-entry {
		padding: 15px 0px;
	}
	.information-entry .cart-column-title.size-2 {
		margin-bottom: 10px;
		padding: 15px 0px;
		font-size: 14px;
	}

    

    /* /----- Contact html -----/ */
	.contact-page .contact-title h4 {
		font-size: 15px;
	}
	.contact-page .contact-form form label,
	.contact-page .contact-span,
	ul.list-unstyled li span,
	.our-store p,
	.our-store li {
		font-size: 14px;
	}
	.contact-page .contact-form form input {
		font-size: 14px;
		padding: 7px;
	}
	.contact-page .contact-i {
		width: 20px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
		margin-right: 5px;
	}
	.our-store h3 {
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
    

    /* /----- FAQ html -----/ */
	.heading-title {
		font-size: 18px !important;
	}
	.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title {
		font-weight: normal;
	}
	.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a span {
		padding: 10px 15px;
	}
    

    /* /----- Login html -----/ */
	.login-registration-area .sign-in-page .sign-in .social-sign-in a {
		font-size: 0px;
		padding: 0px;
	}
	.login-registration-area .sign-in-page .sign-in .social-sign-in a i {
		display: inline-block;
		padding: 15px 20px;
		font-size: 20px;
	}
    

    /* /----- Compare html -----/ */
	.product-compare .compare-table tr th {
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.product-compare table td {
		padding: 10px !important;
	}
    


    /* /----- Product detail html -----/ */
	.product-info .name {
		margin-top: 20px;
	}
    

    /* /----- Shopping cart html -----/ */
	.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
		min-width: 250px;
	}
	.shopping-cart .shopping-cart-table table tbody tr .cart-image {
		width: 200px;
		min-width: 200px;
	}
	.shopping-cart .cart-shopping-total table thead tr th {
		text-align: left;
	}


    /* /----- Trems and condition html -----/ */
	.terms-conditions-page .terms-conditions h3 {
		margin-bottom: 10px;
		font-size: 15px;
	}
    

    /* /----- Wishlist html -----/ */
	.wish-img {
		width: 160px;
	}
}


/* ------------------------------------------------------- *\
   Mobile Layout: 320px
\* ------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	body {
		font-size: 13px;
	}
	h1.logo a {
		font-size: 15px;
		vertical-align: middle;
	}
	input.search,
	select#category,
	.search-form button {
		height: 44px;
	}
	input.search {
		width: 86%;
	}
	.search-form button {
		width: 14%;
	}
	.basket-item-count {
		width: 44px;
	}
	.top-holder .h-title {
		float: none;
		display: inline-block;
		padding-right: 15px;
	}
	ul.h-right,
	.top-holder {
		text-align: center;
	}
	ul.h-right li a {
		padding: 10px 7px;
	}
	.hide-mobile-view,
	.hide-element,
	.wishlist-compare-holder.show-element{
		display: none;
	}
	.hide-tablate-view {
		display: none !important
	}
	.top-cart-row {
		overflow: unset;
	}
	.wishlist-compare-holder.hide-element {
		display: block;
	}
	.top-cart-row .dropdown-menu {
		width: fit-content;
		top: 28%;
		right: 4%;
	}
	.hide-xs-view,
	h1.hide-xs-view {
		display: none !important;
	}
    

	/* /----- Top bar  -----/ */
	header .col-xs-7,
	header .col-xs-3,
	.top-bar .col-xs-3 {
		width: 100%;
	}
    

    /* /----- Search box -----/ */
	.search-form button {
		line-height: 14px;
	}
    

    /* /----- Wishlist, Cart -----/ */
	.total-price-basket .total-price {
		float: none;
		display: inline-block;
		padding-left: 10px;
		vertical-align: middle;
	}
	.top-cart-row .cart-holder {
		display: inline-block;
	}
	.basket-item-count {
		display: inline-block;
		float: none;
		margin-left: 15px;
	}
	.total-price-basket {
		float: none;
	}
	.wishlist,
	.compare {
		float: none;
		display: inline-block;
	}
	.wishlist-compare-holder {
		float: none;
	}
	.top-cart-row {
		width: 500px;
		text-align: center;
		vertical-align: middle;
		padding: 10px 0px;
	}
	.top-cart-row .dropdown {
		display: inline-block;
	}
	.wishlist-compare-holder.hide-element {
		display: inline-block;
		height: 28px;
		vertical-align: top;
		margin-top: 10px;
	}
	header .col-sx-3 {
		width: 100%;
		overflow: hidden;
	}
	header {
		padding-bottom: 0px;
	}
    

    /* /----- Hero area slider -----/ */
	.product-slider .owl-dots div {
		width: 12px;
		height: 12px;
	}
	.big-text {
		font-size: 40px;
	}
    

    /* /----- Main menu  -----/ */
	.navbar-brand {
		display: inline-block;
	}
	.navbar-nav .open .dropdown-menu,
	.navbar-nav .dropdown-menu {
		background-color: #00539c !important;
		background-clip: content-box;
		padding: 0px 0px 0px 30px;
	}
	ul .mega-menu .mega-menu-item {
		width: 196px;
		padding: 10px;
	}
	span.icon-bar {
		background-color: #adefd1;
	}
	span.icon-bar.top-bar {
		border-bottom: none;
	}
	.header-nav {
		background: none;
	}
	nav.main-menu {
		border-radius: 0px;
		background-color: #00203f;
	}
	.main-menu .navbar-nav li a {
		transition: .3s;
	}
	.main-menu ul.navbar-nav>li>a:hover,
	.main-menu ul.navbar-nav>li>a:focus,
	.main-menu ul.navbar-nav>li>a.active {
		padding: 0px 20px;
	}
	button.navbar-toggle {
		margin: 0px;
		padding: 15px 4px;
	}
	ul.nav.navbar-nav li {
		width: 100%;
	}
	ul.nav.navbar-nav {
		background-color: #00203f;
		z-index: 3;
		margin: 0px;
	}
	.header-nav.my-sticky-nav {
		position: relative;
		background: none;
	}
    

    /* /----- Aside bar  -----/ */
	.information-blog-offer,
	.company-information,
	.company-img img {
		width: 100%;
	}
	.other-info-bar {
		display: block;
	}
	.latest-review .owl-item {
		height: auto !important;
		padding-bottom: 38px;
	}
    

    /* /----- Product area -----/ */
	.tab-ul .tab-item a {
		padding: 10px 17px;
	}
	.tab-ul .tab-item.active a {
		padding: 8px 15px;
	}
	.main-content .product-inner,
	.category-main-content-area .product-inner {
		width: 396px;
	}
	.main-content .product-img {
		height: 220px;
	}
    

    /* /----- Recnet slider -----/ */
	.recent-product-area .section-title:after {
		width: 59%;
		left: 32%;
	}
	.recent-product-area .product-inner {
		width: 391px;
	}
	.recent-product-area .owl-nav {
		top: -56px;
	}
	.title-area h2 {
		height: 45px;
		width: auto;
		font-size: 14px;
	}
    

    /* /----- Company information -----/ */
	.company-big-logo h1 {
		font-size: 20px;
	}
	.company-big-logo {
		padding-bottom: 0px;
	}
	form.subscribe input {
		height: 40px;
		width: 79%;
	}
	button.subscribe-btn {
		padding: 8px 14px;
		margin-right: -5px;
	}
	.social-media h3 {
		font-size: 16px;
	}
	.company-contact h2,
	.company-location p {
		font-size: 13px;
    }
    

    /* /----- Footer -----/ */
	ul.footer-menu li a:after {
		position: inherit;
	}
	ul.footer-menu li a {
		padding: 0px 2px;
		text-decoration: underline;
	}
	ul.payment-logo {
		text-align: center;
		margin-top: 10px;
	}
	ul.payment-logo li {
		width: 12%;
	}
	p.copy-right,
	.footer-menu {
		text-align: center;
	}
	.company-big-logo, 
	.subscribe-area, 
	.company-contact, 
	.company-location, 
	.social-media {
		text-align: center;
	}
	.subscribe-area .subscribe {
		text-align: center;
	}
	.subscribe-area button.subscribe-btn {
		float: none;
	}
    /* /----- Mobile layout(XS) -----/ */
	.latest-review .owl-dots {
		left: 45%;
	}
	.wishlist-compare-holder.hide-element {
		display: none;
	}
	.wishlist-compare-holder.show-element {
		display: inline-block;
	}
	.top-cart-row,
	.excerpt {
		width: 100%;
	}
	.product-slider .owl-item {
		height: 472px;
	}
	.big-text {
		font-size: 30px;
	}
	.offer-parcentage {
		padding: 10px 0px;
	}
	.tab-ul .tab-item.active a {
		padding: 0px 5px;
	}
	.tab-ul .tab-item a {
		padding: 5px 3px;
	}
	.main-content .product-inner,
	.category-main-content-area .product-inner,
	.recent-product-area .product-inner {
		width: 100%;
	}
	/* .recent-product-area .product-item {
        width: 249px;
    } */
	form.subscribe input {
		width: 69%;
	}
	.review-title h2,
	.title-area h2,
	.company-information .title,
	.recent-product-area .section-title {
		font-size: 14px;
	}
	.recent-product-area .section-title:after {
		width: 0%;
	}
	.ribbon {
		padding: 3px 10px;
		font-size: 13px;
	}
	.ribbon:after {
		border-top-width: 26px;
	}
	.caption-cell {
		padding-left: 15px;
		padding-right: 15px;
	}
	.product-slider .owl-item {
		height: 383px;
    }
    

    /* /----- 404 html (xs) 320px -----/ */
	.error-404-area .error-message h1 {
		font-size: 140px;
	}
	.error-404-area .error-message p,
	.navbar-brand {
		font-size: 14px;
	}
    

	/* /----- Blog post details (xs) 320px -----/ */
	.blog-page .blog-post-author-details .author-social-network .dropdown-menu {
		top: 53%;
	}
	.hide-xs-view {
		display: none;
	}
	.sidebar-module-container .home-banner img {
		width: 100%;
	}
	.sidebar-module-container .home-banner,
	.sidebar-module-container .sidebar-widget,
	.sidebar-module-container .home-banner,
	.sidebar-module-container .sidebar-widget {
		margin-top: 10px;
	}
	.breadcrumb,
	.sidebar-module-container .sidebar-widget:last-child,
	.breadcrumb{
		margin-bottom: 10px;
	}
	.blog-page .blog-post p{
		padding-top: 10px;
	}
	.category-main-content-area .sidebar-widget,
	.blog-area .sidebar-widget,
	.blog-page .blog-post {
		padding: 10px;
	}
	.category-main-content-area .section-title,
	.blog-area .section-title,
	.widget-title {
		font-size: 15px;
	}
	.category-main-content-area .accordion-toggle,
	.blog-area .accordion-toggle,
	.inline-product-entry .posted{
		font-size: 13px;
	}
	.blog-area .inline-product-entry .title {
		font-size: 14px;
	}
	.blog-page .blog-post h1 {
		font-size: 15px;
		margin: 10px 0px;
	}


	.blog-page .blog-post .social-media {
		margin: 10px 0px;
		padding: 0px;
	}
	.blog-page .blog-post .social-media a {
		font-size: 13px;
		padding: 11px;
		margin-right: 5px;
	}
	.blog-page .blog-post .social-media a:nth-child(5) {
		margin-right: 0px;
	}
	.sidebar-module-container .home-banner img {
		width: 100%;
	}
	.category-main-content-area .section-title,
	.blog-area .section-title,
	.widget-title {
		font-size: 15px;
	}
	.category-main-content-area .accordion-toggle,
	.blog-area .accordion-toggle,
	.inline-product-entry .posted {
		font-size: 13px;
	}
	.blog-area .inline-product-entry .title {
		font-size: 14px;
	}
	.blog-page .blog-post h1 {
		font-size: 15px;
		margin: 10px 0px;
	}
	.blog-page .blog-post .social-media {
		margin: 10px 0px;
		padding: 0px;
	}
	.blog-page .blog-post .social-media a {
		font-size: 13px;
		padding: 11px;
		margin-right: 5px;
	}
	.blog-page .blog-post .social-media a:nth-child(5) {
		margin-right: 0px;
	}
	.blog-post-author-details .col-xs-3 {
		width: 100%;
		text-align: center;
	}
	.blog-post-author-details .col-xs-3 img {
		float: none;
		display: inline-block;
	}
	.blog-page .blog-post-author-details .author-social-network {
		height: 55px;
		vertical-align: middle;
		float: right !important;
	}
	.blog-post-author-details .col-xs-9 {
		width: 100%;
	}
	.blog-post-author-details .col-xs-9.col-md-10 {
		width: 100%;
		margin: 10px 0px 0px 0px;
	}
	.blog-page .blog-post-author-details .author-social-network button .twitter-icon {
		width: 20px;
		height: 20px;
		line-height: 1.3;
		margin: 2px;
	}
	.blog-page .blog-post-author-details .author-social-network button {
		padding: 2px;
	}
	.blog-page .blog-post-author-details .author-social-network>span {
		font-size: 13px;
		margin-right: 5px;
	}
	.blog-page .blog-post-author-details .author-job {
		display: inline-block;
	}
	.blog-page .blog-post-author-details,
	.blog-page .comments,
	.blog-page .blog-write-comment {
		padding: 10px;
	}
	.comments>h3 {
		margin-bottom: 10px;
	}
	.comment-item {
		margin-bottom: 10px;
	}
	.comment-item .comment-body {
		padding: 5px;
	}
	.blog-page .author a {
		font-size: 13px;
	}
	.comment-item .comment-body .date {
		font-size: 13px;
		margin-right: 5px;
	}
	.meta-info .pull-right {
		position: absolute;
		right: 2px;
		bottom: 2px;
	}
	header.row.no-margin {
		position: relative;
	}
	.sidebar-module-container .sidebar-widget:nth-child(2) {
		margin-top: 0px;
    }
    

    /* /----- Category html  -----/ */
	.sidebar-module-container .sidebar-widget:nth-child(2) {
		margin-top: 10px;
	}
	.category-page-banner .banner-capton .big-text {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton {
		left: 10%;
		top: 17%;
	}
	.category-page-banner .banner-capton .excerpt {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton .excerpt-normal {
		font-size: 14px;
	}
	.category-main-content-area .lbl-cnt,
	.filters-bar .f-right {
		float: right;
	}
	.category-main-content-area .lbl-cnt .dropdown.dropdown-med .btn {
		padding: 3px 10px;
		margin-left: 4px;
	}
	.category-main-content-area .pagination-holder,
	.category-main-content-area .nav-tabs.nav-tab-box  {
		text-align: center;
	}
	.category-main-content-area .nav-tabs.nav-tab-box li {
		float: none;
		display: inline-block;
    }
    
    /* /----- checkout html (XS) -----/ */
	.checkout-area .information-entry .accordeon.size-1 .accordeon-title {
		font-size: 14px;
	}
	.checkout-area .information-entry .article-container h3,
	.checkout-area .information-entry .article-container p {
		font-size: 13px;
	}
	.checkout-area .information-entry {
		padding: 10px;
		margin-top: 10px;
	}
	.checkout-area .information-entry .accordeon-title .number {
		font-size: 14px;
		width: 30px;
		height: 30px;
		line-height: 28px;
    }
    
    /* /----- Contact html -----/ */
	.contact-page .contact-title h4 {
		font-size: 15px;
	}
	.contact-page .contact-form form label,
	.contact-page .contact-span{
		font-size: 14px;
	}
	.contact-page .contact-form form input {
		font-size: 14px;
		padding: 7px;
	}
	.contact-page .contact-i {
		width: 20px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
		margin-right: 5px;
	}
	.our-store h3 {
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	ul.list-unstyled li span {
		font-size: 14px;
	}
	.our-store p,
	.our-store li {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.contact-page .our-store {
		margin-right: 0px
    }
    

    /* /----- FAQ html  -----/ */
	h2.heading-title {
		font-size: 15px !important;
	}
	.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a {
		font-size: 13px;
		font-weight: normal;
		overflow: hidden;
	}
	.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a span {
		padding: 5px 10px;
	}
	.checkout-box .checkout-steps .panel-body {
		padding: 10px;
	}
	.faq-page .title-tag {
		padding-bottom: 15px;
	}
	.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a span {
		float: left;
    }
    

    /* /----- Login html -----/ */
	.login-registration-area .sign-in-page .sign-in .social-sign-in a {
		font-size: 0px;
		padding: 0px;
	}
	.login-registration-area .sign-in-page .sign-in .social-sign-in a i {
		display: inline-block;
		padding: 15px 20px;
		font-size: 20px;
	}
	.login-registration-area .sign-in-page .register-form .form-group {
		margin-bottom: 15px;
	}
	.sign-in-page .create-new-account {
		margin-top: 25px;
    }
    

    /* /----- Compare html -----/ */
	.product-compare .compare-table tr th {
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}
	.product-compare table td {
		padding: 10px !important;
	}
	.product-compare table td {
		white-space: unset !important;
    }
    

    /* /----- Product detail html -----/ */
	.product-info .name {
		font-size: 20px;
		margin-top: 20px;
	}
	.price-container {
		padding: 10px 0px;
	}
	.quantity-container .btn-addtocart {
		margin-top: 20px;
	}
	.single-product-info-tab .tab-pane {
		padding: 10px;
	}
	ul.tabled-data li label {
		min-width: 100px;
		margin-right: 10px;
	}
	.single-product-info-tab .new-review-form .field-row {
		margin-bottom: 10px;
	}
	.single-product-info-tab .comment-item .comment-body {
		margin-left: 10px;
	}
	.meta-row .inline {
		display: block;
    }
    

    /* /----- Shopping-cart html -----/ */
	.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
		min-width: 250px;
	}
	.shopping-cart .shopping-cart-table table tbody tr .cart-image {
		width: 200px;
		min-width: 200px;
	}
	.pull-right {
		float: left !important;
	}
	.shopping-cart .cart-shopping-total table thead tr th {
		text-align: left;
	}
	.shopping-cart-area .estimate-ship-tax,
	.shopping-cart-area .cart-shopping-total {
		margin-left: -15px;
	}
	.shopping-cart .estimate-ship-tax table thead tr>th,
	.shopping-cart .estimate-ship-tax table tbody tr>td {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	a.btn-addtocart.pull-right.outer-right-xs {
		float: right !important;
    }
    

    /* /----- Terms and condition -----/ */
	.terms-conditions-page .terms-conditions h3 {
		margin-bottom: 10px;
		font-size: 13px;
		font-weight: normal;
    }
    

    /* /----- Wishlist html -----/ */
	.wish-img {
		min-width: 118px;
	}
	.wish-table caption.wish-title {
		padding: 10px !important;
	}
	.product-name {
		width: fit-content;
	}
	span.review {
		min-width: 216px;
	}
	.rating {
		min-width: 200px;
	}
	.wish-table .remove-icon {
		display: inline-block;
		padding: 15px;
	}
}


/* ------------------------------------------------------- *\
   Wide Mobile Layout: 480px  // 1 item
\* ------------------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		font-size: 14px;
	}
	h1.logo a {
		font-size: 15px;
		vertical-align: middle;
	}
	input.search,
	select#category,
	.search-form button {
		height: 44px;
	}
	input.search {
		width: 86%;
	}
	.search-form button {
		width: 14%;
	}
	.basket-item-count {
		width: 44px;
	}
	.top-holder .h-title {
		float: none;
		display: inline-block;
		padding-right: 15px;
	}
	ul.h-right,
	.top-holder {
		text-align: center;
	}
	ul.h-right li a {
		padding: 10px 7px;
	}
	.hide-mobile-view,
	.hide-element {
		display: none;
	}
	.hide-tablate-view {
		display: none !important
	}
	.top-cart-row {
		overflow: unset;
	}
	.top-cart-row .dropdown-menu {
		width: fit-content;
		top: 29%;
		right: 15%;
	}
	.wishlist-compare-holder.show-element {
		display: none;
	}
	.wishlist-compare-holder.hide-element {
		display: block;
	}
	.hide-xs-view,
	h1.hide-xs-view {
		display: none !important;
    }
    

    /* /----- Top bar -----/ */
	.top-bar .col-xs-3 {
		width: 100%;
	}
	header .col-xs-7,
	header .col-xs-3 {
		width: 100%;
    }
    

    /* /----- Wishlist, Cart -----/ */
	.total-price-basket .total-price {
		float: none;
		display: inline-block;
		padding-left: 10px;
		vertical-align: middle;
	}
	.top-cart-row .cart-holder {
		display: inline-block;
	}
	.basket-item-count {
		display: inline-block;
		float: none;
		margin-left: 15px;
	}
	.total-price-basket {
		float: none;
	}
	.wishlist,
	.compare {
		float: none;
		display: inline-block;
	}
	.wishlist-compare-holder {
		float: none;
	}
	.top-cart-row {
		text-align: center;
		vertical-align: middle;
		padding: 10px 0px;
	}
	.top-cart-row .dropdown {
		display: inline-block;
	}
	.wishlist-compare-holder.hide-element {
		display: inline-block;
		height: 28px;
		vertical-align: top;
		margin-top: 10px;
	}
	header .col-sx-3 {
		width: 100%;
		overflow: hidden;
	}
	header {
		padding-bottom: 0px;
    }
    

    /* /----- Hero area slider -----/ */
	.product-slider .owl-dots div {
		width: 12px;
		height: 12px;
	}
	.big-text {
		font-size: 40px;
    }
    

    /* /----- Main menu -----/ */
	.navbar-nav .open .dropdown-menu,
	.navbar-nav .dropdown-menu {
		background-color: #00539c !important;
		background-clip: content-box;
		padding: 0px 0px 0px 30px;
	}
	ul .mega-menu .mega-menu-item {
		width: 196px;
		padding: 10px;
	}
	span.icon-bar {
		background-color: #adefd1;
	}
	span.icon-bar.top-bar {
		border-bottom: none;
	}
	.header-nav {
		background: none;
	}
	nav.main-menu {
		border-radius: 0px;
		background-color: #00203f;
	}
	.main-menu .navbar-nav li a {
		transition: .3s;
	}
	.main-menu ul.navbar-nav>li>a:hover,
	.main-menu ul.navbar-nav>li>a:focus,
	.main-menu ul.navbar-nav>li>a.active {
		padding: 0px 20px;
	}
	button.navbar-toggle {
		margin: 0px;
		padding: 15px 0px;
	}
	button.navbar-toggle {
		margin: 0px;
		padding: 15px 4px;
	}
	ul.nav.navbar-nav li {
		width: 100%;
	}
	ul.nav.navbar-nav {
		background-color: #00203f;
		z-index: 3;
		margin: 0px;
	}
	.header-nav.my-sticky-nav {
		position: relative;
		background: none;
    }
    

    /* /----- Aside bar -----/ */
	.information-blog-offer,
	.company-information {
		width: 100%;
	}
	.other-info-bar {
		display: block;
	}
	.latest-review .owl-item {
		height: auto !important;
		padding-bottom: 38px;
	}
	.company-img img {
		width: 100%;
    }
    

    /* /----- Product area -----/ */
	.tab-ul .tab-item a {
		padding: 10px 17px;
	}
	.tab-ul .tab-item.active a {
		padding: 8px 15px;
	}
	.main-content .product-inner,
	.category-main-content-area .product-inner {
		width: 396px;
	}
	.main-content .product-img,
	.category-main-content-area .product-img {
		height: 300px;
    }
    

    /* /----- Recnet slider -----/ */
	.recent-product-area .product-inner {
		width: 391px;
	}
	.recent-product-area .owl-nav {
		top: -56px;
	}
	.title-area h2 {
		height: 45px;
		width: auto;
		font-size: 14px;
	}
	.recent-product-area .section-title:after {
		width: 0%;
    }
    

    /* /----- Company information -----/ */
	.company-big-logo h1 {
		font-size: 20px;
	}
	.company-big-logo {
		padding-bottom: 0px;
	}
	form.subscribe input {
		height: 40px;
		width: 79%;
	}
	button.subscribe-btn {
		padding: 8px 15px;
	}
	.social-media h3 {
		font-size: 16px;
	}
	.company-contact h2,
	.company-location p {
		font-size: 13px;
    }
    

    /* /----- Footer -----/ */
	ul.footer-menu li a:after {
		position: inherit;
	}
	ul.footer-menu li a {
		padding: 0px 14px;
		text-decoration: underline;
	}
	ul.payment-logo {
		text-align: center;
		margin-top: 10px;
	}
	ul.payment-logo li {
		width: 12%;
	}
	p.copy-right {
		text-align: center;
	}
	ul.footer-menu {
		text-align: center;
    }
    

    /* /----- Blog details html -----/ */
	.breadcrumb {
		margin-bottom: 10px;
	}
	.blog-page .blog-post {
		padding: 10px;
	}
	.blog-page .blog-post h1 {
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.blog-page .blog-post p {
		padding-top: 10px;
	}
	.blog-page .blog-post .social-media {
		margin: 15px 0px;
		padding: 0px;
	}
	.blog-page .blog-post .social-media a {
		font-size: 16px;
		padding: 8px;
	}
	.blog-page .blog-post-author-details h4 {
		font-size: 16px;
	}
	.comment-item .comment-body {
		padding: 5px;
	}
	.blog-page .comment-item .comment-body .comment-content {
		margin: 10px 5px;
	}
	.sidebar-module-container .search-area input {
		padding: 10px;
	}
	.sidebar-module-container .search-area .search-button:after {
		top: 1%;
	}
	.category-main-content-area .section-title,
	.blog-area .section-title {
		font-size: 16px;
	}
	h4.widget-title {
		font-size: 16px;
	}
	.blog-area .inline-product-entry .title {
		font-size: 14px;
	}
	.hide-waid-mobile {
		display: none;
	}
	.sidebar-module-container {
		display: flex;
		flex-flow: wrap;
	}
	.sidebar-module-container .sidebar-widget {
		width: 48.8%;
		padding: 10px;
	}
	.sidebar-module-container .sidebar-widget:nth-child(2) {
		margin-top: 0px;
	}
	.sidebar-module-container .sidebar-widget:nth-child(3) {
		margin-top: 0px;
		margin-left: 10px;
	}
	.sidebar-module-container .sidebar-widget:nth-child(5) {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.blog-page .blog-post-author-details,
	.blog-page .comments,
	.blog-page .blog-write-comment {
		padding: 10px;
	}
	.blog-area .inline-product-entry {
		margin-bottom: 5px;
		padding-bottom: 10px;
    }
    

    /* /----- Category html -----/ */
	.category-main-content-area .sidebar-module-container {
		display: block;
		flex-flow: wrap;
		margin-top: 0px;
	}
	.category-page-banner .banner-capton .big-text {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton {
		left: 10%;
		top: 17%;
	}
	.category-page-banner .banner-capton .excerpt {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.category-page-banner .banner-capton .excerpt-normal {
		font-size: 14px;
	}
	.category-main-content-area .lbl-cnt {
		float: right;
	}
	.filters-bar .f-right {
		float: right;
	}
	.category-main-content-area .lbl-cnt .dropdown.dropdown-med .btn {
		padding: 3px 10px;
		margin-left: 4px;
	}
	.category-main-content-area .product-inner {
		width: 100%;
	}
	.category-main-content-area .nav-tabs.nav-tab-box {
		width: 100%;
	}
	.category-main-content-area .filter-tabs {
		float: left;
	}
	.category-main-content-area .pagination-holder {
		overflow: hidden;
		width: 100%;
		text-align: center
	}
	.sidebar-filter {
		display: flex;
		flex-flow: wrap;
	}
	.sidebar-filter .sidebar-widget:first-child {
		margin-top: 0px;
	}
	.sidebar-filter .sidebar-widget:nth-child(2) {
		margin-left: 10px;
	}
	.sidebar-filter .sidebar-widget {
		margin-bottom: 10px;
	}
	.sidebar-filter .sidebar-widget:nth-child(3) {
		margin-left: 0px;
	}
	.sidebar-filter .sidebar-widget:nth-child(4) {
		margin-top: 0px;
		margin-left: 10px;
	}
	.sidebar-filter {
		display: flex;
		flex-flow: wrap;
	}
	.sidebar-filter .sidebar-widget:first-child {
		margin-top: 0px;
	}
	.sidebar-filter .sidebar-widget:nth-child(2) {
		margin-left: 10px;
	}
	.sidebar-filter .sidebar-widget {
		margin-bottom: 10px;
	}
	.sidebar-filter .sidebar-widget:nth-child(3) {
		margin-left: 0px;
	}
	.sidebar-filter .sidebar-widget:nth-child(4) {
		margin-top: 0px;
		margin-left: 10px;
	}
	.sidebar-filter .sidebar-widget:nth-child(6) {
		background: coral;
	}
	.sidebar-filter .testimonial-slider {
		margin-left: 10px;
    }
    

    /* /----- Checkout html -----/ */
	.checkout-area .information-entry {
		margin-top: 10px;
	}
	.checkout-area .description {
		padding: 24px 5px;
	}
	.checkout-area .information-entry .checkout-progress-widget {
		margin-bottom: 15px;
		font-size: 17px;
	}
	.checkout-area .information-blog-offer {
		margin-bottom: 0px;
	}
	.checkout-area .information-blog-offer {
		width: 100%;
    }
    

    /* /----- Contact html -----/ */
	.contact-page .contact-title h4 {
		font-size: 15px;
	}
	.contact-page .contact-form form label {
		font-size: 14px;
	}
	.contact-page .contact-form form input {
		font-size: 14px;
		padding: 7px;
	}
	.contact-page .contact-i {
		width: 20px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
		margin-right: 5px;
	}
	.contact-page .contact-span {
		font-size: 14px;
	}
	.our-store h3 {
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	ul.list-unstyled li span {
		font-size: 14px;
	}
	.our-store p,
	.our-store li {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
}


/* ------------------------------------------------------- *\
   Mid wide :650px 
\* ------------------------------------------------------- */
@media only screen and (min-width:650px) and (max-width:767px) {
    /* /----- Products area, Recent slider // 3 item -----/ */
	.main-content .p-img,
	.category-product-view .product-img,
	.recent-product-area .product-img {
		height: auto;
	}
	.category-product-view {
		padding-right: 20px;
	}
	.products .p-item {
		width: 32.4%;
	}
	.category-product-view .product-item {
		width: 33.3%;
	}
	.recent-product-area .product-item {
		width: 100%;
	}
	.main-content .p-inner,
	.category-product-view .product-inner,
	.recent-product-area .product-inner {
		width: 100%;
	}
	.top-cart-row .dropdown-menu {
		width: fit-content;
		top: 30%;
		right: 27%;
	}
	.hover-content a {
		padding: 5px 10px;
	}
	.recent-product-area .section-title:after {
		width: 0%;
    }
    

    /* /----- Aside bar -----/ */
	.information-blog-offer,
	.latest-review,
	.company-information {
		width: 100%;
	}
	.company-img img {
		width: 100%;
	}
	.latest-review .owl-dots {
		top: 95%;
	}
	.latest-review .owl-item {
		height: auto !important;
	}
	.review-title h2,
	.title-area h2,
	.company-information .title,
	.recent-product-area .section-title {
		font-size: 16px;
	}
	.latest-review .owl-dots {
		left: 40%;
    }
    

    /* /----- All side bar flex -----/ */
	.information-blog-offer,
	.latest-review,
	.company-information {
		width: 31.9%;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.other-info-bar {
		display: flex;
		flex-direction: row-reverse;
	}
	.information-blog-offer {
		margin-right: 0px;
	}
	.blockquot .text {
		padding: 5px 8px;
	}
	.company-information .title {
		font-size: 16px;
    }
    

    /* /----- Footer -----/ */
	
    /* /----- Category html -----/ */
	.category-page-banner .banner-capton {
		top: 30%;
    }
    

    /* /----- Checkout html -----/ */
	.information-entry .article-container.style-1 {
		width: 100%;
	}
	.checkout-area .information-entry .col-md-6 {
		width: 50%;
		float: left;
	}
	.information-entry a.forgot-password {
		margin-left: 5%;
    }
    

    /* /----- Contact html -----/ */
	.contact-page .col-md-8.contact-form {
		display: inline-block;
		width: 50%;
	}
	.col-sm-8.contact-form.mt-30 {
		width: 45%;
		float: left;
		margin-right: 20px;
    }
    


    /* /----- FAQ html -----/ */
	.home-banner {
		float: left;
		width: 49%;
	}
	.home-banner.mt-30 {
		margin-top: 0px;
		margin-left: 10px;
	}
	.home-banner.mt-30 img {
		max-height: 180px;
		width: 100%;
    }
    

    /* /----- Login html -----/ */
	.sign-in-page .sign-in {
		float: left;
	}
	.sign-in-page .create-new-account {
		float: right;
		margin-top: 0px;
	}
	.sign-in-page {
		overflow: hidden;
	}
	.sign-in-page .create-new-account,
	.sign-in-page .sign-in {
		width: 50%;
    }
    

    /* /----- Product details html -----/ */
	.product-detail-block .col-md-5 {
		float: left;
		width: 50%;
	}
	.product-detail-block .col-md-7 {
		float: right;
		width: 50%;
	}
	.product-detail-viewer .p-image {
		width: 100%;
	}
	.product-info .name {
		margin-top: 0px;
    }
    

    /* /----- Shopping-cart html -----/ */
	.shopping-cart-area .estimate-ship-tax {
		width: 50%;
		float: left;
	}
	.shopping-cart-area .estimate-ship-tax:nth-child(3) {
		margin-left: 10px;
		padding-right: 0px;
	}
	.shopping-cart .estimate-ship-tax tr>th {
		padding: 0px;
	}
	.shopping-cart-area .estimate-ship-tax tr>th p {
		height: 37px;
	}
}


/* ------------------------------------------------------- *\
   501px
\* ------------------------------------------------------- */
@media only screen and (min-width:501px) and (max-width:649px) {
    /* /----- products area , recent slider // 2 item -----/ */
	.main-content .p-img,
	.category-product-view .product-img,
	.recent-product-area .product-img {
		height: auto;
	}
	.category-product-view {
		padding-right: 20px;
	}
	.products .p-item {
		width: 48.5%;
	}
	.category-product-view .product-item {
		width: 50%;
	}
	.main-content .p-inner,
	.category-product-view .product-inner,
	.recent-product-area .product-inner,
	.recent-product-area .product-item {
		width: 100%;
	}
	.hover-content a {
		padding: 5px 10px;
	}
	.top-cart-row .dropdown-menu {
		width: fit-content;
		top: 29%;
		right: 23%;
	}
	.recent-product-area .section-title:after {
		width: 0%;
	}
	.latest-review .owl-dots {
		top: unset;
		bottom: -50px;
    }
    

    /* /----- Aside bar -----/ */
	.information-blog-offer,
	.latest-review,
	.company-information {
		width: 100%;
	}
	.company-img img {
		width: 100%;
	}
	.latest-review .owl-item {
		height: auto !important;
		padding-bottom: 38px;
	}
	.review-title h2,
	.title-area h2,
	.company-information .title,
	.recent-product-area .section-title {
		font-size: 16px;
    }
    

    /* /----- All side bar flex -----/ */
	.information-blog-offer,
	.latest-review,
	.company-information {
		width: 31.9%;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.other-info-bar {
		display: flex;
		flex-direction: row-reverse;
	}
	.information-blog-offer {
		margin-right: 0px;
	}
	.blockquot .text {
		padding: 5px 8px;
	}
	.company-information .title {
		font-size: 16px;
	}
	.blockquot {
		height: auto;
	}
	.single-review {
		height: 211px;
	}
	.blockquot .text {
		height: 202px;
		word-break: break-word;
		overflow: hidden;
	}
	.latest-review .owl-dots {
		left: 33%;
    }
	
	
    /* /----- Category html -----/ */
	.category-page-banner .banner-capton {
		top: 25%;
    }
    

    /* /----- Contact html -----/ */
	.contact-page .col-md-8.contact-form {
		display: inline-block;
		width: 50%;
	}
	.col-sm-8.contact-form.mt-30 {
		width: 45%;
		float: left;
		margin-right: 20px;
    }
    

    /* /----- FAQ html -----/ */
	.home-banner {
		float: left;
		width: 48%;
	}
	.home-banner.mt-30 {
		margin-top: 0px;
		margin-left: 10px;
	}
	.home-banner.mt-30 img {
		max-height: 130px;
		width: 100%;
    }
    

    /* /----- Login html -----/ */
	.sign-in-page .sign-in {
		float: left;
	}
	.sign-in-page .create-new-account {
		float: right;
		margin-top: 0px;
	}
	.sign-in-page {
		overflow: hidden;
	}
	.sign-in-page .create-new-account,
	.sign-in-page .sign-in {
		width: 50%;
	}
}


/* ------------------------------------------------------- *\
   340px 
\* ------------------------------------------------------- */
@media only screen and (min-width:340px) and (max-width:479px) {

    /* /----- Dropdown cart -----/ */
	.top-cart-row .dropdown-menu {
		width: fit-content;
		top: 29%;
		right: 21%;
	}
}